{% extends 'base.html' %}

{% block text %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="/">Visual
		search</a>
</li>
<li class="nav-item">
	<a class="nav-link active" href="/text">Text search</a>
</li>
{% endblock %}

{% block content %}
	<div class="d-flex align-items-center justify-content-center vh-100">
		<div class="card">
			<div class=" card-body">
					<div class="row">
						<div class="col-lg-8">
						<br>
						<form method="post" action="/results">
						        <label>Image URL</label>
						        <input type="text" id="user_input" class="form-control" name="user_input"
						               placeholder="Enter image URL" required>
						        <label>Page number</label>
							<input type="text" id="page_number" class="form-control" name="page_number"
						               placeholder="Enter page number" required>
							<label>Product number</label>
							<input type="text" id="product_number" class="form-control" name="product_number"
						               placeholder="Enter product number per page" required>

							<input class="submit" type="submit" value="Submit">
					        <br>
						</form>
						</div>
						
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
